{
    "main_category": {
        "limit": 3,
        "roles": {
            "role1": {
                "searches": ["hello", "role1"],
                "primary": 1,
                "secondary": 2
            },
            "role2": {
                "searches": ["role2", "aaaaaahhh"],
                "primary": 3,
                "secondary": 4
            }
        }
    },
    "additional_category": {
        "limit": 0,
        "roles": {
            "free_role": {
                "searches": ["free", "gimme"],
                "primary": 5,
                "secondary": 0
            }
        }
    }
}